# Ignore Python environment folders
venv/
.venv/
env/
ENV/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.coverage
.tox/
.nox/
.cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Pytest cache
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# dotenv environment variables file
.env

# VSCode settings folder
.vscode/

# macOS files
.DS_Store

# Logs
*.log

# Spyder project settings
.spyderproject
.spyproject

# MyPy cache
.mypy_cache/

# Pyre type checker
.pyre/

# Rope project settings
.ropeproject/
